<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b2ktechnology.multicorder">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SensorDisplay"
            android:label="@string/sensor_activity_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.b2ktechnology.multicorder.ProjectActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SensorDisplay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.b2ktechnology.multicorder.SensorDisplay" />
        </activity>
        <activity
            android:name=".DeviceActivity"
            android:label="@string/title_activity_device"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.b2ktechnology.multicorder.SensorDisplay" />
        </activity>
    </application>

</manifest>